body {
  padding-top: 20px;
}

.header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 27px;
}

.header p {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 27px;
}


a {
  color: #204156;
  background-color: #ffffff;
  text-decoration: none;
}

.Music {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss1.jpg");
  width:200px; 
  height:100px; 
  background-position:center
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

.Travels {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss2.jpg");
  width:200px; 
  height:100px; 
  background-position:center
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

.Improv {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss3.jpg");
  width:200px; 
  height:100px; 
  background-position:center
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

.Photography {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/moss4.jpg");
  width:200px; 
  height:100px; 
  background-position:center
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}


